.product-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.products {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
}

.products h3 {
    margin: 6px 0px;
}

.product-price {
    display: flex;
    gap: 20px;
}